env
migrations/
credentials
.venv
venv
.staticfiles/
staticfiles
.media/
.media_root/
media_root/
migrations/
.migrations
__pycache__/
.__pycache__/
.__pycache__
.vscode
/.pyc
*.pyc
.node_modules
node_modules
erp_ssh.pub


