# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.migrations/
migrations/


# Virtual environments
.venv/
venv/


# Environment variables

# macOS
.DS_Store


# Editor folders
.vscode/
.idea/


# Credentials and keys
credentials
erp_ssh.pub

# Themes
theme/
.theme/