# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.migrations/
migrations/


.staticfiles/
staticfiles
static
/static
static/
.static
.media_root
media_root

# Virtual environments
.venv/
venv/

# Environment variables
.env
.env.*

# macOS
.DS_Store


# Editor folders
.vscode/
.idea/


# Credentials and keys
credentials
erp_ssh.pub

# Themes
theme/
.theme/