alabaster
amqp
asgiref
attrs
babel
billiard
black
bleach
boto3
botocore
celery
certifi
channels
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
coverage
crispy-bootstrap4
crispy-bootstrap5
dj-database-url
Django
django-allauth
django-browser-reload
django-ckeditor
django-cleanup
django-cors-headers
django-crispy-forms
django-debug-toolbar
django-decouple
django-environ
django-extensions
django-haystack
django-js-asset
django-meta
django-mptt
django-ratelimit
django-redis
django-ses
django-silk
django-taggit
django-tailwind
django-tinymce
django-widget-tweaks
djangorestframework
docutils
drf-spectacular
et_xmlfile
factory_boy
Faker
flake8
gprof2dot
gunicorn
idna
imagesize
inflection
iniconfig
isort
Jinja2
jmespath
jsonschema
jsonschema-specifications
kombu
Markdown
MarkupSafe
mccabe
mypy_extensions
openpyxl
packaging
pathspec
pillow
platformdirs
pluggy
prompt_toolkit
psycopg
psycopg-binary
psycopg2-binary
pycodestyle
pyflakes
Pygments
pytest
pytest-cov
pytest-django
python-dateutil
python-decouple
python-slugify
PyYAML
qrcode
redis
referencing
reportlab
requests
roman-numerals-py
rpds-py
s3transfer
sentry-sdk
six
snowballstemmer
Sphinx
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jquery
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sqlparse
text-unidecode
tzdata
uritemplate
urllib3
vine
wcwidth
webencodings
whitenoise
Whoosh
django-anymail