{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> {% block title %}Grace ERP{% endblock title %} </title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'main_media/grace_box_logo.svg' %}">

    <link rel="stylesheet" href="{% static 'css/backend-plugin.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/backend.css' %}">
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    >
    <!-- Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


    <style>
        .card {
            border-radius: 6px;
        }

        .table-hover tbody tr:hover {
            background-color: #f9f9f9;
        }

    </style>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZWJJJPS1PT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ZWJJJPS1PT');
</script>
<body>
  <div class="container py-4">
    {% block content %}{% endblock %}
  </div>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  {% block extra_js %}{% endblock %}
</body>
</html>
