{% extends "base/base.html" %}

{% block content %}
<div class="container mt-5">
  <h2>Warnings for {{ profile.user.get_full_name }}</h2>
  <a href="{% url 'create_employee_warning' %}" class="btn btn-danger mb-3">Add Warning</a>
  
  {% if warnings %}
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Start Date</th>
        <th>Expiry Date</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for warning in warnings %}
      <tr>
        <td>{{ warning.title }}</td>
        <td>{{ warning.start_date }}</td>
        <td>{{ warning.expiry_date }}</td>
        <td>{{ warning.status }}</td>
        <td>
          <a href="{% url 'employee_warning_detail' profile.id warning.id %}" class="btn btn-primary btn-sm">View</a>
          <a href="{% url 'edit_employee_warning' profile_id=warning.employee.id warning_id=warning.id %}" class="btn btn-sm btn-warning">Edit</a>

          <form action="{% url 'delete_employee_warning' profile.id warning.id %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>No warnings found.</p>
  {% endif %}
</div>
{% endblock %}
