{% extends "base/base.html" %}
{% load static %}
{% block content %}

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'folder_list' %}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ folder.name }}</li>
    </ol>
  </nav>

  <div class="d-flex justify-content-between mb-3">
    <h2>{{ folder.name }}</h2>
    <div>
      <a href="{% url 'create_subfolder' folder.id %}" class="btn btn-outline-success  btn-sm">
        <i class="bi bi-folder-plus"></i> New Subfolder
      </a>
      <a href="{% url 'upload_document_folder' folder.id %}" class="btn btn-outline-primary btn-sm">
        <i class="bi bi-upload"></i> Upload Document
      </a>
    </div>
    
  </div>

  <hr>

  <h4>Subfolders</h4>
  {% if subfolders %}
    <div class="row">
      {% for sub in subfolders %}
        <div class="col-md-3 mb-3">
          <div class="card h-100 shadow-sm">
            <div class="card-body text-center">
              <i class="bi bi-folder"></i>
              <h5 class="card-title mt-2">{{ sub.name }}</h5>
              <a href="{% url 'folder_detail' sub.id %}" class="stretched-link"></a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>No subfolders</p>
  {% endif %}

  <hr>

  <h4>Documents in "{{ folder.name }}"</h4>
  {% if documents %}
    <div class="row">
      {% for doc in documents %}
        <div class="col-md-3 mb-3">
          <div class="card h-100 shadow-sm">
            <div class="card-body">
              <i class="bi bi-file-earmark"></i>
              <h6 class="mt-2">{{ doc.title }}</h6>
              <p class="text-muted mb-2">{{ doc.file.name|slice:"15" }}...</p>
              <a href="{{ doc.file.url }}" class="btn btn-sm btn-outline-primary">
                View
              </a>
              <a href="{% url 'document_download' doc.id %}" class="btn btn-sm btn-primary">Download</a>
              <a href="{% url 'share_document' doc.id %}" class="btn btn-sm btn-outline-secondary">Share</a>
              <a href="{% url 'document_access_logs' doc.id %}" class="btn btn-sm btn-outline-secondary">Logs</a>
              <hr>
              <button type="button" class="btn btn-sm btn-danger mb-1 w-100 text-start" onclick="if(confirm('Are you sure you want to delete this document?')) {
                        document.getElementById('delete-form-{{ doc.id }}').submit();
                      }">
                <i class="bi bi-trash"></i> Delete
              </button>
              <form id="delete-form-{{ doc.id }}" action="{% url 'delete_hr_document' doc.id %}" method="POST"
                style="display:none;">
                {% csrf_token %}
              </form>
              
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>No documents in this folder.</p>
  {% endif %}

{% endblock %}
